.container
  text-align center

.myBtn
  width 200px
  padding 12px
  border-radius 3px
  background-color #CCC 

.circle
  width 300px
  height 300px
  background-color darkred
  border-radius 50%

.column
  display inline-block
  vertical-align middle

.info
  position relative
  left 40px
  height 300px
  font-size 32px
  font-weight bold
  padding 20px 40px

.done
  cursor pointer
  margin 32px 0px

.voteCount
  margin 32px 0px

.totalVoters
  margin 32px 0px
